<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test_customers.get_sapdata_via_http_0_1.get_sapdata_via_http"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--context=Default --stat_port=3621 --trace_port=4510 "/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TEST_CUSTOMERS_GET_SAPDATA_VIA_HTTP_0.1"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
</launchConfiguration>
