<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="test_customers"/>
<stringAttribute key="TALEND_JOB_ID" value="_FnOTAFF0Eem8oqtbnOFPuQ"/>
<stringAttribute key="TALEND_JOB_NAME" value="read_customer_from_csv"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
